{:paths ["src" "dev" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:git/sha "4180ed31c2864687a770f6d4f625303bd8e75437"}
        io.github.mentat-collective/clerk-utils {:git/sha "1752f0e4b26116182996da20f6d47e3382a934ea"}}
 :aliases
 {:nextjournal/clerk
  {:extra-deps
   {io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     ;; make sure this sha matches the one in `:deps` above.
     :git/sha "4180ed31c2864687a770f6d4f625303bd8e75437"
     :deps/root "render"}}
   :exec-fn user/build!}}}
